.table-responsive {
    height: 80vh;
    overflow-y: hidden;
}

.table-responsive:hover {
    overflow-y: scroll;
}

thead tr:nth-child(1) th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

@media all and (max-device-width: 600px) {
    h1 {
        font-size: 18px;
    }

    th, tr, td { 
       font-size: 10px; 
    }
    .table td, .table th {
        padding: 5px;
    }
}